@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

:root {
    --text-color: #667085;
    --main-color: #8E2424;
    --background-color: #ffffff;
    
    --main-font: font-family: 'Inter', sans-serif;
  }

*{
    border: none;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

/*------------------ Geral: */
body{
    width: 100%;
    height: 100vh;
    background-color: var(--background-color);
    text-align: center;
}

p{
    color: var(--text-color);
}
/*------------------ Nav ------------------ */
nav{
    background-color: var(--background-color);
    font-size: 16px;
    text-align: center;

    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
    padding: 1rem 0;
}

nav #paginas a{
    text-decoration: none;
    color: var(--text-color);
    margin-right: 2rem;
}

nav button{
    cursor: pointer;
    padding: 0.8rem 1rem;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.192);
    
    font-weight: 500;
    font-size: 0.9rem;
}

#botaoEntrar{
    background-color: var(--background-color);
    color: var(--text-color);
}

#botaoCadastrar{
    background-color: var(--main-color);
    color: var(--background-color);
}

/*------------------ Sobre Nós ------------------ */
#sobreNos{
    margin: 100px;
    align-items: center;
}

#sobreNos span{ 
    color: var(--main-color)
}

#sobreNos h1 {
    font-size: 2rem;
}

#sobrenos p{
    font-weight: 600;
    max-width: 50%;
    text-align: center;
    line-height: 1.5rem;
}

/*------------------ Métricas ------------------ */

.metricas-container{
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    text-align: left;
    


}

.metricas-container div{
    width: 250px;
}

.metricas-container h1{
    color: var(--main-color);
    font-size: 50px;
    margin: 0px;
}

.metricas-container h2{
    font-size: 16px;
}

/*------------------ Main ------------------ */

main>div>span{
    background-color: #6670852a;;
    color: var(--main-color);
    padding: 0.3em;
    border-radius: 6em;
}


/*------ Section Vagas:*/

#vagas{
    margin: 2em 20%;
}
#vagas h2{
    font-size: 1.2em;
    font-weight: 600;
    text-align: left;
    margin-top: 5em;
}

.vaga {
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    align-items: baseline;

    border-radius: 0.6rem;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.192);
    padding: 2em 5em 2em 2em ;
    margin: 2em auto;
}

.titulo-vaga{
    margin: 0px;
    font-size: 1.1em;
    font-weight: 500;
}

.informacoes{
    display: flex;
    flex-direction: row;
    color: var(--text-color);
    padding: 1em 0em 0em 0em;
}
.informacoes span{
    padding: 1em 1em 0em 0em;
}




