@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

:root {
    --text-color: #667085;
    --text-color-suave: #6670850a;
    --main-color: #8E2424;
    --main-color-suave: #8e24240a;
    --background-color: #ffffff;
    
    --main-font: font-family: 'Inter', sans-serif;

    --main-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.192)
  }

*{
    border: none;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

/*------------------ Geral: */
body{
    display: flex;
    flex-direction: column;

    width: 100%;
    background-color: var(--background-color);
    text-align: center;
}

p{
    color: var(--text-color);
}

button{
    cursor: pointer;
    padding: 0.8rem 1rem;
    border: none;
    border-radius: 0.5rem;
    
    font-weight: 500;
    font-size: 0.9rem;
}

.tag{
    background-color: var(--main-color-suave);
    color: var(--main-color);
    padding: 0.3em;
    border-radius: 6em;
}
/*------------------ Nav ------------------ */
nav{
    background-color: var(--background-color);
    font-size: 16px;
    text-align: center;

    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
}

nav #links{
    display: flex;
    justify-content: first baseline;
}

nav #links a{
    text-decoration: none;
    color: var(--text-color);
    padding: 2em;
}

button#logIn{
    background-color: var(--background-color);
    color: var(--text-color);
}

button#signUp{
    box-shadow: var(--main-box-shadow);
    background-color: var(--main-color);
    color: var(--background-color);
}


nav #menu{
    display: flex;
    align-items: baseline;
}
.sideMenu {
    display: none;
    visibility: hidden;
}
  
#menu.active {
    right: 0;
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    transition: all 0.5s;
}
  
.sideMenu img {
    position: relative;
    z-index: 1;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

/*------------------ Sobre Nós ------------------ */
#about-us{
    margin: 100px 15%;
    align-items: center;
    display: flex;
    flex-direction: column;
}

#about-us h1 {
    font-size: 2rem;
}

#about-us p{
    font-weight: 600;
    text-align: center;
    width: 50%;
}

/*------------------ Métricas ------------------ */

.metrics{
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    text-align: left;

}

.metrics div{
    width: 15%;
}

.metrics h1{
    color: var(--main-color);
    font-size: 50px;
    margin: 0px;
}

.metrics h2{
    font-size: 16px;
}

/*------------------ Main ------------------ */
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
main>div>img{
    max-width: 95%;
}
/*------ Section Vagas:*/

#vagas{
    margin: 2em 20%;
    width: 60%;
}
#vagas h2{
    font-size: 1.2em;
    font-weight: 600;
    text-align: left;
    margin-top: 3em;
}

.vaga {
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    align-items: baseline;

    border-radius: 0.6rem;
    box-shadow: var(--main-box-shadow);
    padding: 2em 60% 2em 2em ;
    margin: 2em 0px;
}

.titulo-vaga{
    margin: 0px;
    font-size: 1.1em;
    font-weight: 500;
}

.informacoes{
    display: flex;
    flex-direction: row;
    color: var(--text-color);
    padding: 1em 0em 0em 0em;
}
.informacoes span{
    padding: 1em 1em 0em 0em;
}



/*------------------ Aside: ------------------ */
aside{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--main-color-suave);
    padding: 5em 0em;
    margin: 5%;
}

aside div.blockquote{
    width: 60%;
}

aside blockquote{
    text-align: center;
    font-size: 1.5rem;
    margin: 2em 0em;
}

.collaborator{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


.collaborator .name{
    font-weight: 600;
    margin-top: 1em;
}

.collaborator .occupation{
    color: var(--text-color);
    margin-top: 0.4em;
    font-size: 
}

/*------------------ Footer: ------------------ */
footer{
    background-color: var(--text-color-suave);
    align-items: center;
    display: flex;
    flex-direction: column;

    margin-top: 3em;
}

footer p{
    font-size: 1.2em;;
}

footer div{
    display: flex;
    justify-content: space-between;
}

footer span{
    margin: 2em 0em 0em 0em;
    font-size: 1em;
    color: var(--text-color);
}

footer input{
    box-shadow: var(--main-box-shadow);
    width: 25em;
    padding: 0.8rem 1em;
    border-radius: 0.5rem;
    color: var(--text-color);
    margin: 0em 1%;
}

footer input::placeholder{
    color: var(--text-color)
}

footer button{
    box-shadow: var(--main-box-shadow);
    background-color: var(--main-color);
    color: var(--background-color);
}

/*------------------ Responsividade: ------------------ */


@media screen and (max-width: 1000px){
  
    #about-us p{
        width: 100%;
    }
    .metrics{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .metrics div{
        width: 30%;
    }
}

@media screen and (max-width: 850px) {
    .sideMenu {
        display: initial;
        visibility: visible;
    }
    
    #links {
        margin: 2rem 0;
    }
    
    #links a {
        margin-right: 0;
    }
    
    #menu {
        flex-direction: column;
        position: fixed;
        top: 0;
        right: -1000px;
        height: 100vh;
        background: #F9FAFB;
        width: 15rem;
        padding: 2rem;
        transition: all 1s;
    }
    
    #links, #buttons {
        display: flex;
        flex-direction: column;
        width: 100%;
      }

}