@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

:root {
    --text-color: #667085;
    --text-color-suave: #6670850a;
    --main-color: #8E2424;
    --main-color-suave: #8e24240a;
    --background-color: #ffffff;
    
    --main-font: font-family: 'Inter', sans-serif;

    --main-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.192)
  }

*{
    border: none;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

/*------------------ Geral: */
body{
    width: 100%;
    height: 100vh;
    background-color: var(--background-color);
    text-align: center;
}

p{
    color: var(--text-color);
}

button{
    cursor: pointer;
    padding: 0.8rem 1rem;
    border-radius: 0.5rem;
    
    font-weight: 500;
    font-size: 0.9rem;
}

.tag{
    background-color: var(--main-color-suave);
    color: var(--main-color);
    padding: 0.3em;
    border-radius: 6em;
}
/*------------------ Nav ------------------ */
nav{
    background-color: var(--background-color);
    font-size: 16px;
    text-align: center;

    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
    padding: 1rem 0;
}

nav #menu a{
    text-decoration: none;
    color: var(--text-color);
    margin-right: 2rem;
}

#logIn{
    background-color: var(--background-color);
    color: var(--text-color);
}

#signUp{
    box-shadow: var(--main-box-shadow);
    background-color: var(--main-color);
    color: var(--background-color);
}

/*------------------ Sobre Nós ------------------ */
#about-us{
    margin: 100px;
    align-items: center;
}

#about-us h1 {
    font-size: 2rem;
}

#about-us p{
    font-weight: 600;
    max-width: 50%;
    text-align: center;
    line-height: 1.5rem;
}

/*------------------ Métricas ------------------ */

.metrics{
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    text-align: left;
    


}

.metrics div{
    width: 250px;
}

.metrics h1{
    color: var(--main-color);
    font-size: 50px;
    margin: 0px;
}

.metrics h2{
    font-size: 16px;
}

/*------------------ Main ------------------ */
main{
    margin: 5em 10em 5em 10em;
}
/*------ Section Vagas:*/

#vagas{
    margin: 2em 20%;
}
#vagas h2{
    font-size: 1.2em;
    font-weight: 600;
    text-align: left;
    margin-top: ;
}

.vaga {
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    align-items: baseline;

    border-radius: 0.6rem;
    box-shadow: var(--main-box-shadow);
    padding: 2em 5em 2em 2em ;
    margin: 2em auto;
}

.titulo-vaga{
    margin: 0px;
    font-size: 1.1em;
    font-weight: 500;
}

.informacoes{
    display: flex;
    flex-direction: row;
    color: var(--text-color);
    padding: 1em 0em 0em 0em;
}
.informacoes span{
    padding: 1em 1em 0em 0em;
}



/*------------------ Aside: ------------------ */
aside{
    background-color: var(--main-color-suave);
    padding: 5em 1em; 
}
aside blockquote{
    font-weight: bold;
    font-size: 2rem;
    padding: 1em 5em;    
}

.collaborator{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


.collaborator .name{
    font-weight: 600;
    margin-top: 1em;
}

.collaborator .occupation{
    color: var(--text-color);
    margin-top: 0.4em;
    font-size: 
}
/*------------------ Footer: ------------------ */
footer{
    background-color: var(--text-color-suave);
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 5em 0em;
}

footer p{
    margin: 0em 0em 2em 0em;
    font-size: 1.2em;;
}

footer div{
    display: flex;
    justify-content: space-between;
}

footer span{
    margin: 2em 0em 0em 0em;
    font-size: 1em;
    color: var(--text-color);
}

footer input{
    box-shadow: var(--main-box-shadow);
    width: 25em;
    padding: 0.8rem 1rem;
    border-radius: 0.5rem;
    color: var(--text-color);
    margin: 0em 1em;
}

footer input::placeholder{
    color: var(--text-color)
}

footer button{
    box-shadow: var(--main-box-shadow);
    background-color: var(--main-color);
    color: var(--background-color);
}

